<div class="develop-panel">
  <div>
    AlignmentWage: <br />
    0
    <input
      type="range"
      min="0"
      max="3"
      step="0.01"
      [value]="Boid.alignmentWage"
      (change)="changeMovementFactor($event, MovementFactors.alignmentWage)"
    />
    3 &nbsp; &nbsp;{{ Boid.alignmentWage }}
  </div>
  <div>
    SeparationWage: <br />
    0
    <input
      type="range"
      min="0"
      max="3"
      step="0.01"
      [value]="Boid.separationWage"
      (change)="changeMovementFactor($event, MovementFactors.separationWage)"
    />
    3

    {{ Boid.separationWage }}
  </div>
  <div>
    CohesionWage: <br />
    0
    <input
      type="range"
      min="0"
      max="3"
      step="0.01"
      [value]="Boid.cohesionWage"
      (change)="changeMovementFactor($event, MovementFactors.cohesionWage)"
    />
    3
    {{ Boid.cohesionWage }}
  </div>

  <div>
    sightRadius: <br />
    0
    <input
      type="range"
      min="1"
      max="100"
      step="1"
      [value]="Boid.sightRadius"
      (change)="changeMovementFactor($event, MovementFactors.sightRadius)"
    />
    100
    {{ Boid.sightRadius }}
  </div>
  <div>
    showSightRadius <input type="checkbox" [(ngModel)]="showSightRadius" />
  </div>

  <div>
      <button
        class="block bg-red-600 rounded-md m-2 p-4"
        (click)="changeBoidsAmount.emit(boidCountChangeFactor)"
      >
        add {{ boidCountChangeFactor }} boids
      </button>
    <button
      class="block bg-red-600 rounded-md m-2 p-4"
      (click)="changeBoidsAmount.emit(-boidCountChangeFactor)"
    >
      remove {{ boidCountChangeFactor }} boids
    </button>
    <div>boidsLength: {{ boidsLength() }}</div>
  </div>
</div>
