@import "./../../../variables";
@import "./../../../mixins";

:host {
  display: block;
  position: absolute;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.7),
      rgba(245, 245, 245, 0.9)
    ),
    url("/assets/icons/bg-common.svg");
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fx-boid {
  position: absolute;
  width: $boid-size;
  height: $boid-size;

  background-color: #bbbbbc;
  box-shadow: 0 6px 20px rgba(11, 56, 131, 0.45),
    inset 0 -6px 12px rgba(255, 255, 255, 0.05);

  --circle-radius: 10px;
  @include circle-around();
}