@import "./../../../variables";
@import "./../../../mixins";

:host {
  display: block;
  position: absolute;
  background-color: #1d1e27;
  // background-color: #2d4443;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fx-boid {
  position: absolute;
  width: $boid-size;
  height: $boid-size;
  background-color: red;

  // clip-path: ;
  background: linear-gradient(135deg, #24232a 0%, #33292F 60%);
  box-shadow: 0 6px 20px rgba(11, 56, 131, 0.45),
    inset 0 -6px 12px rgba(255, 255, 255, 0.05);

  &:hover {
    transition: 500ms background;
    background-color: aquamarine;
    cursor: pointer;
  }

  --circle-radius: 10px;
  @include circle-around();
}
