@import "./../../../../variables";
@import "./../../../../mixins";

:host {
  display: block;
  position: absolute;
  background-color: #c0915466;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fx-boid {
  position: absolute;
  width: $boid-size;
  height: $boid-size;
  background-color: red;

  // clip-path: ;
  background: linear-gradient(135deg, #f704eabe 0%, #af091275 60%);
  box-shadow: 0 6px 20px rgba(11, 56, 131, 0.45),
    inset 0 -6px 12px rgba(255, 255, 255, 0.05);

  &:hover {
    transition: 500ms background;
    background-color: aquamarine;
    cursor: pointer;
  }

  --circle-radius: 10px;
  @include circle-around();
}

.develop-panel {
  background-color: #60a5fa77;
  opacity: 0.8;
  width: 20vw;
  height: fit-content;
  border-radius: 8px;
  padding: 8px;
}
