@mixin circle-around() {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    margin-left: calc(var(--circle-radius) * -1);
    margin-top: calc(var(--circle-radius) * -1);
    border: 2px solid green;
    border-radius: 50%;
    pointer-events: none;
  }
}
